.container{
    @apply w-full h-fit flex flex-col lg:flex-row lg:justify-between lg:items-center gap-1;
}
.container input{
    @apply w-full h-10 rounded-md border p-2;
}
.container div{
    @apply flex flex-col items-start justify-start mb-2 lg:mb-4;
}
.container div > div{
    @apply mb-2 lg:mb-0 ;
}
 /* .container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
 }
 .input-full{
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
    border: 1px solid rgb(230, 227, 227);
    padding: 8px;
 }
 @media screen and (min-width: 1024px) {
    .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
 } */