@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
/*---break---*/
@custom-variant dark (&:is(.dark *));

:root {
  --primary: oklch(0.208 0.042 265.755); /*Buttons, links, active states (e.g., "Book Now" CTA)*/
  --secondary: oklch(0.968 0.007 247.896); /*Success indicators, check-ins, positive metrics (e.g., occupancy rate)*/
  --accent: oklch(0.968 0.007 247.896); /*Warnings, highlights (e.g., low stock alerts).*/
  --danger: #DC354522; /*Errors, cancellations (e.g., overdue payments).*/ /*Main app background, cards.*/
  --neutral: #6C757D10; /*Borders, inactive text.*/
  --text-primary: #21252933; /*Main body text.*/
  --text-secondary: #6C757D10; /*Subtle labels, timestamps.*/ 
  --radius: 0.625rem; 
  --card: oklch(1 0 0); 
  --card-foreground: oklch(0.129 0.042 264.695); 
  --popover: oklch(1 0 0); 
  --popover-foreground: oklch(0.129 0.042 264.695); 
  --primary-foreground: oklch(0.984 0.003 247.858); 
  --secondary-foreground: oklch(0.208 0.042 265.755); 
  --muted: oklch(0.968 0.007 247.896); 
  --muted-foreground: oklch(0.554 0.046 257.417); 
  --accent-foreground: oklch(0.208 0.042 265.755); 
  --destructive: oklch(0.577 0.245 27.325); 
  --border: oklch(0.929 0.013 255.508); 
  --input: oklch(0.929 0.013 255.508); 
  --ring: oklch(0.704 0.04 256.788); 
  --chart-1: oklch(0.646 0.222 41.116); 
  --chart-2: oklch(0.6 0.118 184.704); 
  --chart-3: oklch(0.398 0.07 227.392); 
  --chart-4: oklch(0.828 0.189 84.429); 
  --chart-5: oklch(0.769 0.188 70.08); 
  --sidebar: oklch(0.984 0.003 247.858); 
  --sidebar-foreground: oklch(0.129 0.042 264.695); 
  --sidebar-primary: oklch(0.208 0.042 265.755); 
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858); 
  --sidebar-accent: oklch(0.968 0.007 247.896); 
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755); 
  --sidebar-border: oklch(0.929 0.013 255.508); 
  --sidebar-ring: oklch(0.704 0.04 256.788); 
  --background: oklch(1 0 0); 
  --foreground: oklch(0.129 0.042 264.695);
}

/*---break---*/

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/*--presets--*/
/* padding 8px */
/* margin-8px */
/* cards 300 * auto */
/* border-radius 8px */
/* buttons: padding 10px * 20px, border-radius 4px */
/* top header: width full, height 60px */
*{
  box-sizing: border-box;
  /* "Open Sans" */
}
body {
  @apply m-0 p-0 text-base bg-[var(--secondary)] text-[var(--primary)]; 
  font-family: "Roboto", sans-serif;
  /* font-optical-sizing: auto; */
}
footer{
  @apply w-full h-10;
}
/* main navigation */
a.main_nav_link{
  @apply !w-full lg:w-fit h-12 lg:h-fit text-lg m-1 text-nowrap flex justify-between items-center lg:!hidden;
}
.main_nav_link i{
  @apply inline-block lg:hidden;
}
.site_main_title{
  @apply text-3xl lg:text-5xl font-extrabold text-center text-wrap text-[var(--foreground)];
  font-family: "Orbitron", sans-serif;
  line-height: 1.5;
}
.site_sub_title{
  @apply text-xl lg:text-2xl font-semibold text-center text-wrap text-[var(--foreground)];
  font-family: "Orbitron", sans-serif;
}
.main_title{
  font-family: "Open sans", sans-serif;
  font-size: 32px;
  line-height: 1.5;
}
.section_headers{
  @apply text-2xl;
}
.small_texts{
  @apply text-sm;
}
.icon{
  @apply text-xl;
}

/* sidebar styling */
.glass{
  @apply w-full h-full inline-block backdrop-blur-md;
  background: rgba(255, 255, 255, 0.12);
}
aside{
  background-image: url('../public/astral.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
aside li{
  @apply w-full h-12 flex justify-between items-center px-4 my-2 hover:bg-[var(--foreground)];
}
aside li:hover{
  transition: all 0.4s ease-in-out;
}
aside a{
  @apply text-white text-lg no-underline;
}
/*---break---*/
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
/*---break---*/
.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}
/*---break---*/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}